<div class="container">

  <h1 class="highlighted-title text-center">Voisin'App : partage ton matériel, depuis ton canap' !</h1>

  <div class="main-pictures">
    <div class="row justify-content-around my-4">
      <%= image_tag 'logo.jpg', alt: 'marteau', class: 'col-3' %>
      <%= image_tag 'logo.jpg', alt: 'marteau', class: 'col-3' %>
      <%= image_tag 'logo.jpg', alt: 'marteau', class: 'col-3' %>
    </div>
    </div>

  <div class="text-center mb-3" >
  <%= link_to 'Découvrir', items_path, class: 'btn btn-danger mx' %>
   </div>

  <div class="row mb-3">
  <div id="carouselExampleDark" class="carousel carousel-dark slide col-8 mx-auto">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <%= image_tag 'logo.jpg', class: 'd-block w-50 mx-auto', alt: 'barbe_papa' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Machine à barbe à Papa</h5>
          <p>Idéale pour les anniversaires</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <%= image_tag 'logo.jpg', class: 'd-block w-50 mx-auto', alt: 'batteur' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Batteur Électrique</h5>
          <p>Préparez vos recettes facilement avec ce batteur.</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'logo.jpg', class: 'd-block w-50 mx-auto', alt: 'marteau' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Marteau</h5>
          <p>Un outil indispensable pour tous vos travaux.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
