<div class="container mt-2 mb-2">
  <h1 class="index-title text-center">Voici l'ensemble des réservations en cours de validation</h1>
  </div>
  <div class="row mx-5">
    <% @reservations.each do |reservation| %>
      <div class="col-md-3 mb-3">
        <div class="items-card card shadow bg-white text-dark h-100">
            <div class="image-container">
              <% if reservation.item.picture.key.nil? %>
                <%= image_tag "logo.jpg", class: 'card-img-top' %>
              <% else %>
                <%= cl_image_tag reservation.item.picture.key, alt: "Items", class: 'card-img-top' %>
              <% end %>
            </div>

            <div class="card-body mt-2">
                <h5 class="card-title"><%= reservation.item.name %></h5>
            <h6 class="card-item-cat text-muted"><%= reservation.item.category %></h6>
            <h6>en cours de validation</h6>
            <%# <p class="card-text"><%= item.description </p> %>
          </div>
          <div class="card-footer">
            <div class= "mb-3">
            </div>
            <p class="card-text"><strong> <%= reservation.item.price  %> € </strong></p>
            <p>Client: <%= reservation.user.username %></p>
            <div class="blockquote-footer">
              <li> ID de réservation n°<%= reservation.id %></li>
              <li>ID de l'objet n° <%= reservation.item.id %></li>
              <li>ID de l'utilisateur n°<%= reservation.user.id %></li>
              <%= link_to "détails", item_reservation_path(reservation.item, reservation) %>


            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
