
<div class="container mt-0" data-controller='flatpickr' data-flatpickr-price-value="<%= @item.price%>">
  <div class="row">
    <!-- Colonne de gauche vide -->
    <div class="col-md-2"></div>
    <!-- Colonne centrale avec tout le contenu -->
    <div class="col-md-8 mt-0 bt-0">
      <h2 class="text-center mt-0">Vous souhaitez réserver:</h2>
      <!-- Utilisation de la carte Bootstrap pour @item.name -->
      <div class="card shadow-sm pb-0">
        <div class="card-body text-center py-1">
          <h3 class="card-title"><%= @item.name %></h3>
          <p class="mb-0 text-secondary"><%= number_to_currency(@item.price, unit: "€", format: "%n %u / jour") %></p>
        </div>
      </div>
      <p class="text-center mt-2 mb-2">Merci de compléter les détails de votre réservation ici ⬇️</p>
      <!-- Nouvelle div pour encapsuler le formulaire -->
      <div class="form-container">
        <div class="row justify-content-center mt-3">
          <div class="reservation-card card shadow col-12">
            <div class="card-body">
              <div class="dates d-flex justify-content-between mb-3" data-controller="update-price">
                <%= simple_form_for [@item, @reservation] do |form| %>
                    <%= form.input :start_date, label:"Date de début", as: :string, input_html: { id: 'start-date', data: { flatpickr_date_format: "d-m-Y", flatpickr_min_date: Date.today, flatpickr_target: 'startDate' } } %>

                    <%= form.input :end_date, as: :string, label:"Date de fin", input_html: { id: 'end-date', data: { flatpickr_date_format: "d-m-Y", flatpickr_min_date: Date.today, flatpickr_target: 'endDate' } } %>

                    <div class="form-group" >
                      <p data-flatpickr-target="days">Nombre de jours total de location: 0</p>
                      <p data-flatpickr-target="totalPrice">Prix total de votre location: 0 €</p>
                    </div>
                    </div>
                    <%= form.submit "Confirmer votre commande"%>
                    <%= "Vous ne serez pas directement prélevé(e)"%>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Colonne de droite vide -->
    <div class="col-md-2"></div>
  </div>
</div>
