<h1>Nouvelle réservation <%= @item.name %></h1>

<%= simple_form_for [@item, @reservation] do |form| %>
    <%= form.input :start_date %>
    <%= form.input :end_date %>
    <%= form.association :item, value_method: :price %>
    <%= form.submit %>
<% end %>
