<div class="container">
  <h1 class="my-4"> Location de matériel entre voisins </h1>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3 mb-4">
          <div class="card border-light h-100">
           <% unless item.picture.key.nil? %>
            <%= cl_image_tag item.picture.key, alt: "Items" %>
              <% end %>
              <div class="card-body">
                <% if item.user == current_user %>
                <h5 class="card-title">My <%= item.name %></h5>
                  <% else %>
                    <h5 class="card-title"><%= item.name %> for rent</h5>
                      <% end %>
                        <h6 class="card-item-cat text-muted"><%= item.category %></h6>
                        <p class="card-text"><%= item.description %></p>
                        <p class="card-text text-muted"><%= item.address %></p>
                      </div>
                     <div class="card-footer">
                     <button type="button" class="btn btn-light"> <%= link_to "details", items_path %></button>
                  <h5 class="card-item-price"><%= item.price %>€</h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    <div>
