<div class="row justify-content-center">
<div class="col-4">
  <h1 class="my-4 text-center">Add an Item for location </h1>
    <%= simple_form_for(@item) do |f| %>
      <div class="mb-3" ><%= f.input :category %></div>
      <div class="mb-3"><%= f.input :name %></div>
      <div class="mb-3"><%= f.input :picture, as: :file %></div>
      <div class="mb-3"><%= f.input :price %></div>
      <div class="mb-3"><%= f.input :address %></div>
      <div class="mb-3"> <%= f.input :description %></div>
      <div class="text-center"><%= f.button :submit, "Validate", class: "btn btn-primary" %></div>
    <% end %>
       <div class="text-center mt-3">
    <%= link_to "back", items_path, class: "btn btn-secondary"%>
    </div>
  </div>
</div>
