<div class="container">
  <h1 class="text-center mb-5">Résultats de la recherche</h1>
  <div class="row">
    <div class="col-md-6">
      <% @items.each do |item| %>
        <div class="items-card-search card shadow bg-white text-dark mb-3">
          <div class="image-container">
            <% if item.picture.key.nil? %>
              <%= image_tag "logo.jpg", class: 'card-img-top' %>
            <% else %>
              <%= cl_image_tag item.picture.key, alt: "Items", class: 'card-img-top' %>
            <% end %>
          </div>
          <div class="card-body mt-2">
            <% if item.user == current_user %>
              <h5 class="card-title"><strong>Votre</strong> <%= item.name %></h5>
            <% else %>
              <h5 class="card-title"><%= item.name %> <strong>À louer</strong></h5>
            <% end %>
            <h6 class="card-item-cat text-muted"><%= item.category %></h6>
          </div>
          <div class="card-footer">
            <div class="mb-3">
              <%= link_to "détails", item_path(item), class: 'btn btn-info' %>
            </div>
            <p class="card-text"><strong><%= item.price %> € / jour</strong></p>
            <div class="blockquote-footer">
              <p><%= item.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <!-- Contenu de la carte interactive -->
      <!-- Placeholder pour la carte -->
      <div id="map-container">
        <%= image_tag "logo.jpg", class: 'card-img-top' %>
        <!-- Ici tu pourrais intégrer ta carte interactive -->
        <!-- Par exemple, une carte Google Maps ou Leaflet -->
        <!-- Assure-toi d'ajuster la taille de la carte à l'intérieur de ce conteneur -->
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15621.06664584366!2d-73.98798539186677!3d40.74881752125075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDA0JzIyLjYiTiA3M8KwMTEnNTAuMiJX!5e0!3m2!1sen!2sus!4v1621202048084!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
      </div>
    </div>
  </div>
</div>
