<h1>Details of the selected item : </h1>
name : <%= @item.name %> <br>
category : <%= @item.category %> <br>
picture : <%= @item.picture %> <br>
price : <%= @item.price %> <br>
description : <%= @item.description %> <br>
adress : <%= @item.address %> <br>
availability :
<br>
<%= link_to "Book this item", "#", class: "btn btn-ghost" %>
