<div class="container">

  <%# Titre de l'item %>
  <h2> <%= @item.name %></h2>
  <p class="adress"><%= @item.address %></p>

  <%# cartes photos de l'item %>
  <div class="cards">
    <% 3.times do |i| %>
      <div class="card-category" style="background-image: url(<%= @item.picture.present? ? @item.picture : 'path/to/placeholder-image.jpg' %>);">
      </div>
    <% end %>
  </div>

  <%# description/category à gauche - price/bouton à droite %>
  <div class="description-price">
    <div class="left-side">
      <p class="category">Category : <%= @item.category %></p>
      <p class="description">Description : <%= @item.description %></p>
    </div>
    <div class="right-side">
      <p class="price"><%= number_to_currency(@item.price, unit: "€", format: "%n %u / jour") %></p>
      <%= link_to "Réserver", item_reservations_path(@item), class: "btn btn-reserve book-button" %>
    </div>
  </div>

</div>
